*.zip
*.out
*.pyc
07/VMtranslator/*.vm
07/VMtranslator/*.asm
07/VMtranslator/*.tst
07/VMtranslator/*.cmp
07/VMtranslator/lang.txt



# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*
